* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #292929;
}

.container {
  width: 100wh;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 30px 0px;
}

.table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #031634;
  border-collapse: collapse;
  border: 2px solid #ffffff;
}

.table thead {
  background-color: #d1dbc8;
}

.table thead th {
  padding: 5px;
}

.table tbody tr td {
  padding: 3px;
  color: #ffffff;
}

#td__buttons {
  display: flex;
  gap: 2px;
}

#remove__btn {
  padding: 3px;
  transition: all 0.3s;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  width: 100%;
  background-color: rgb(202, 77, 68);
}
#edit__btn {
  padding: 3px;
  transition: all 0.3s;
  border: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  background-color: rgb(31, 33, 136);
}

#remove__btn:hover {
  border: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  background-color: rgb(173, 24, 24);
}
#edit__btn:hover {
  border: 1px solid #fff;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  background-color: rgb(36, 38, 168);
}

/* ========================
 */

.callModal {
  transition: all 0.4s;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 40px;
  font-size: 1.1rem;
  background-color: #031430cc;
  border: 1px solid #022f58;
  color: #fff;
  cursor: pointer;
}

.callModal:hover {
  background-color: #031634;
}

.modal__create {
  transition: all 0.3s;
  display: flex;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  visibility: hidden;
  z-index: -30;
}

.modal__create form {
  background-color: #021e38;
  width: 100%;
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__create form input {
  height: 40px;
  border: none;
  color: #031634;
  padding-left: 5px;
}

.modal__create form h1 {
  color: white;
}

.opened {
  visibility: visible;
  z-index: 400;
}

.btn {
  background-color: #022f58;
  color: white;
  height: 30px;
  font-size: 1.1rem;
  border: 1px solid white;
}

.btn:hover {
  background-color: #021e38;
}

.modal__edit {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: -40;
}

.modal__edit form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  background-color: #031634;
  padding: 10px;
  gap: 10px;
}

.modal__edit form input {
  height: 30px;
}
.modal__edit form h1 {
  color: white;
}

.openededit {
  visibility: visible;
  z-index: 400;
}

.close__modal__create {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  background-color: red;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.close__modal__create:hover {
  background-color: rgb(151, 4, 4);
}
